doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/normalize.css')
    link(rel='stylesheet', href='/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    block header
      header
        nav
          .nav-section
            li.nav-item
              a.nav-link(href='/') Literary Journal
            if !user
                each item in h.menu
                  li.nav-item
                    a.nav-link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav-link--active' : ''))
                      span #{item.title}
            else
              each item in h.menuUser
                li.nav-item
                  a.nav-link(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav-link--active' : ''))
                    span #{item.title}
          .nav-section
            if user
              li.nav-item: a.nav-link(href='/logout', class=(currentPath.startsWith('/logout') ? 'nav-link--active' : ''))
                span Logout
              li.nav-item: a.nav-link(href='/account', class=(currentPath.startsWith('/account') ? 'nav-link--active' : ''))
                img.avatar(src=user.gravatar + 'd=retro')  
            else
              li.nav-item: a.nav-link(href='/register', class=(currentPath.startsWith('/register') ? 'nav-link--active' : '')) Register
              li.nav-item: a.nav-link(href='/login', class=(currentPath.startsWith('/login') ? 'nav-link--active' : '')) Log In
    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash-text!= message
                  button.flash-remove(onClick='this.parentElement.remove()') &times;
    .content
      block content
        
    footer
      a(href='http://brandnpatterson.com')
        p.copyright
          | &copy;
          | &nbsp;
          script(type='text/javascript') document.write(new Date().getFullYear());
          | &nbsp; Brandon Patterson. All Rights Reserved.
      
    block scripts
      script(src='/App.bundle.js')
