doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    block header
      header
        nav.navbar(role='navigation' aria-label='main navigation')
          .navbar-brand
            a.navbar-item(href='/').absolute.small-only
              img(src='/images/runebear-logo.png' alt='rune bear logo')
            .navbar-burger.is-large(data-target='navMenu')
              span
              span
              span
          .navbar-logo
          .navbar-menu#navMenu
            .navbar-start
              .navbar-item
              if !user
                  each item in h.menu
                    .navbar-item
                      a(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'navbar-link--active' : ''))
                        span #{item.title}
              else
                each item in h.menuUser
                  .navbar-item
                    a(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'navbar-link--active' : ''))
                      span #{item.title}
            .navbar-end
              if user
                .navbar-item: a(href='/logout', class=(currentPath.startsWith('/logout') ? 'navbar-link--active' : ''))
                  span LOGOUT
                .navbar-item: a(href='/account', class=(currentPath.startsWith('/account') ? 'navbar-link--active' : ''))
                  span ACCOUNT 
              else
                .navbar-item: a(href='/login', class=(currentPath.startsWith('/login') ? 'navbar-link--active' : '')) LOG IN
                .navbar-item: a(href='/register', class=(currentPath.startsWith('/register') ? 'navbar-link--active' : '')) REGISTER      
    block messages
      if locals.flashes
        .inner-flash
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash-text!= message
                  button.flash-remove(onClick='this.parentElement.remove()') &times;
    .content
      block content
        
    footer
      p
        span Rune Bear 
        | is always looking for submissions from new and established writers. Check out our SUBMIT section for our rules and how to send your prose or poetry.
      br
      a.copyright(href='http://brandnpatterson.com')
        | &copy;
        | &nbsp;
        script(type='text/javascript') document.write(new Date().getFullYear());
        | &nbsp; Brandon Patterson. All Rights Reserved.
      
    block scripts
      script(src='/App.bundle.js')
