doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    block header
      header
        nav.navbar(role='navigation' aria-label='main navigation')
          .navbar-burger
            span
            span
            span
          .navbar-menu
            .navbar-item
              a(href='/') Bob
            if !user
                each item in h.menu
                  .navbar-item
                    a(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'navbar-link--active' : ''))
                      span #{item.title}
            else
              each item in h.menuUser
                .navbar-item
                  a(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'navbar-link--active' : ''))
                    span #{item.title}
            if user
              .navbar-item: a(href='/logout', class=(currentPath.startsWith('/logout') ? 'navbar-link--active' : ''))
                span Logout
              .navbar-item: a(href='/account', class=(currentPath.startsWith('/account') ? 'navbar-link--active' : ''))
                img.avatar(src=user.gravatar + 'd=retro')  
            else
              .navbar-item: a(href='/register', class=(currentPath.startsWith('/register') ? 'navbar-link--active' : '')) Register
              .navbar-item: a(href='/login', class=(currentPath.startsWith('/login') ? 'navbar-link--active' : '')) Log In
    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash-text!= message
                  button.flash-remove(onClick='this.parentElement.remove()') &times;
    .content
      block content
        
    footer
      a(href='http://brandnpatterson.com')
        p.copyright
          | &copy;
          | &nbsp;
          script(type='text/javascript') document.write(new Date().getFullYear());
          | &nbsp; Brandon Patterson. All Rights Reserved.
      
    block scripts
      script(src='/App.bundle.js')
