doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon' href='images/favicon.ico' type='image/x-icon')
  body
    block header
      header
        nav.navbar(role='navigation' aria-label='main navigation')
          .navbar-brand
            //- a.navbar-item.navbar-logo.absolute.small-only(href='/')
              //- img.runebear-logo(src='/images/runebear-logo.png' alt='rune bear logo')
            .navbar-burger.is-large(data-target='navMenu')
              span
              span
              span
          .navbar-logo
          .navbar-menu.navbar-target#navMenu
            .navbar-center
              if !user
                  each item in h.menu
                    .navbar-item
                      a(href=item.slug)
                        span #{item.title}
              else
                each item in h.menuUser
                  .navbar-item
                    a(href=item.slug)
                      span #{item.title}
            //- .navbar-end
            //-   if user
            //-     .navbar-item: a(href='/logout')
            //-       span LOGOUT
            //-     .navbar-item: a(href='/account')
            //-       span ACCOUNT 
            //-   else
                //- .navbar-item: a(href='/login') LOG IN
                //- .navbar-item: a(href='/register') REGISTER      
    block messages
      if locals.flashes
        .inner-flash
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash-text!= message
                  button.flash-remove(onClick='this.parentElement.remove()') &times;
    .content
      block content
        
    footer
      p
        span Rune Bear 
        | is always looking for submissions from new and established writers. Check out our 
        a(href='/submit') SUBMIT 
        | section for our rules about how to send your prose or poetry.
      br
      a.copyright(href='http://brandnpatterson.com')
        | &copy;
        | &nbsp;
        script(type='text/javascript') document.write(new Date().getFullYear());
        | &nbsp; Brandon Patterson. All Rights Reserved.
      
    block scripts
      script(src='/App.bundle.js')
