extends layout

include mixins/storeCard

block content
  .inner
    h2= tag ? `${title} - ${tag}` : title
    ul.tags
      each store in stores
        if store.tags.includes('Approved')
          each t in tags
            if !t._id.includes('Approved')
              li.tag
                a.tag__link(href=`/tags/${t._id}` class=(t._id === tag ? 'tag__link--active' : ''))
                  span.tag__text= t._id
                  span.tag__count= t.count
    .stores
      each store in stores
        if store.tags.includes('Approved')
          +storeCard(store)
